<!-- <DOCTYPE> -->
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <title>test</title>
  <link type="text/css" rel="stylesheet" href="main.css">
  <!-- <link type="text/css" rel="stylesheet" href="./lib/style.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="lib/normalize.css" /> -->
  <!-- <link rel="stylesheet" href="lib/font-awesome.min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="lib/demo.css"> -->
  <!-- <link rel="stylesheet" href="lib/style.css"> -->
</head>

<body ng-controller="SimpleController">
  <form>
    <!-- <select id="select" ng-change="search()">
      <option ng-repeat ="tag in tags"  onclick="aaa()" >{{tag.name}}</option>
    </select> -->
    <select id="" ng-model="categroy" ng-options="tag.name for tag in tags" ng-change="selectedChange(categroy.name)">
    </select>
    <input id="searchInput" type="text" placeholder="请输入..." ng-model="content">
    <button ng-click="search(category.name,content)" type="submit">搜索</button>
  </form>
  </div>
  <div class="tagWrap">
    <div class="tags" ng-repeat="type in typeArr"><span class=tag-type>{{type.type}}:</span>{{type.content}}
      <div class="close" ng-click="closeTag()"></div>
    </div>
  </div>
  <!-- <div test></div> -->
  <!-- <div id="navi">
    <div id="menu" ng-click="collapse()">NEWS</div>
    <div class="sources" ng-repeat="source in sources" ng-click="getNews(source)">{{source|uppercase}}</div>
  </div> -->
  <!-- <button ng-click="getNews('al-jazeera-english')">al-jazeera-english</button> -->

  <ul>
    <li class="news" ng-repeat="x in data |filter: some">
      <div class="news-title">{{x.id}}</div>
    </li>
  </ul>
  <script src="lib/data.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-route.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/directive.js"></script>
  <script src="js/service.js"></script>
  <script src="js/controller.js"></script>
</body>

</html>
